*{
    padding: 0px;
    margin: 0px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    background: rgb(39 39 39);
    width: 100%;
    height: 100vh;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.ingredientes {
    background: #181818;
    width: 30%;
    box-shadow: 17px 20px 20px rgb(18 18 18 / 50%);
}
.muestra {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ababab;
    font-size: 31px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.lista {
    padding: 11px 47px;
}
li {
    margin-bottom: 27px;
    list-style: none;
    padding: 12px 0px;
    text-align: center;
    box-shadow: inset 0px 0px 12px rgb(4 157 209 / 69%);
    border-radius: 8px;
    font-size: 20px;
    color: #a5a5a5;
}
.cocinar {
    padding: 10px 38px;
    border-radius: 11px;
    border: none;
    font-size: 17px;
    font-weight: 700;
    background: #006d71;
    cursor: pointer;
    margin: auto;
    display: flex;
    text-transform: uppercase;
    color: #f1f1f1;
}
.muestra img {
    width: 27vh;
    height: 13vh;
    background-color: transparent;
}
